<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_URI} !=/server-status
  RewriteCond %{REQUEST_URI} !=/server-status-php-fpm

  RewriteRule ^login/?$ 					/files/login.php 							[NC,L]
  RewriteRule ^encerrar/?$ 					/files/encerrar.php 						[NC,L]

  RewriteRule ^in/([a-z0-9-_]+)/?$ 			/files/dashboard.php?pagina=$1 				[NC,L]
  RewriteRule ^in/([a-z0-9-_]+)/(.*)/?$ 	/files/dashboard.php?pagina=$1&get=$2 		[NC,L]
</IfModule>

<filesMatch "\.(htaccess|htpasswd|ini|sh)$">
 Order Allow,Deny
 Deny from all
</filesMatch>

<filesMatch "\.yml">
 Order Allow,Deny
 Deny from all
</filesMatch>